@import "./../../../colors.scss";


#projects-heading {
  color: $White;
  margin-bottom: 2rem;
}

#project-container {
  margin-top: 2rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

#content-container {
  height: 21rem;
  width: 60%;
}

#image-container {
  height: 20rem;
}

#project-image {
  height: 100%;
  margin-left: 3rem;
  border: 4px solid $AliceBlue;
  transition: transform .5s ease;

  &:hover {
    transform: scale(1.1);
  }
}
