@import "./../../../colors.scss";

#heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-description-heading {
  color: $Ming;
  font-size: 3rem;
  text-align: center;
}

#home-description-content {
  font-size: 2.5rem;
}

#home-page-picture {
  background-color: $MaxBlue;
  height: 40rem;
  width: 30rem;
  border-radius: 15px;
}
