@import "./../../colors.scss";

#home-description-container {
  box-sizing: border-box;
  width: 100%;
  padding: 10rem 1rem;
  display: flex;
  justify-content: center;
}

#home-page-heading {
  margin: 0;
  color: $MaxBlue;
  font-size: 5rem;
  margin-top: 10rem;
  margin-right: 5rem;
}

#home-aboutme-container {
  box-sizing: border-box;
  padding: 5rem 10rem;
  width: 100%;
  background-color: $Ming;
}

#about-me-heading {
  margin-top: 2%;
  text-align: center;
  color: $White;

}

#home-techno-container {
  height: 80vh;
  width: 100%;
  background-color: $Grey;
  display: flex;
  justify-content: space-around;
}

#home-project-container {
  background-color: $MaxBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
