@import "./../../colors.scss";

#home-page-container {
  background-color: $RichBlack;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-page-heading {
  margin: 0;
  color: $LightCyan;
  font-size: 5rem;
  margin-top: 10rem;
}

#home-description-container {
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-top: 10rem;
}

#home-description-heading {
  color: $LightCyan;
  font-size: 4rem;
}

#home-description-content {
  font-size: 2.5rem;
}

#home-page-picture {
  background-color: $MaxBlue;
  height: 40rem;
  width: 35rem;
  border-radius: 50%;
}

#home-aboutme-container {
  margin-top: 15%;
  width: 100%;
  display: flex;
  background-color: $MaxBlue;
  flex-direction: column;
  align-items: center;
}

#home-techno-container {
  height: 80vh;
  width: 100%;
  background-color: $Vermillion;
  display: flex;
  justify-content: space-around;
}

#home-project-container {
  background-color: $MaxBlue;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
