@import "./../../colors.scss";

#home-page-container {
  padding: 0 2%;
  width: 100%;
}

#home-description-container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-image: url('./Heading/background.png');
}

#home-aboutme-container {
  height: 100%;
  width: 100%;
}

#home-project-container {
  height: calc(100% / 3.5);
  width: 100%;
  margin: 0 auto;
  padding: 2% 20%;
  background-color: $Grey;
}

#footer-container {
  box-sizing: border-box;
  padding: 10rem 13rem;
  height: 30vh;
  display: flex;
  align-items: center;
}

