@import "./../../../colors.scss";

#aboutMe-content-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutMe-heading {
  margin: 1.5rem 0;
}

#portfolioPic {
  height: 25rem;
  border-radius: 3rem;
  margin: 2rem 0;
}

#aboutMe-para-container {
  box-sizing: border-box;
  text-align: center;
}

#aboutMe-content {
  box-sizing: border-box;
  white-space: pre-wrap;
}

@media screen and (max-width: 480px) {

}
