@import "./../../../colors.scss";

#aboutMe-content-container {
  height: 100%;
  padding: 10% 15%;
}

#aboutMe-heading {
  margin: 1.5rem 0;
}

#aboutMe-picture {
  height: 20rem;
  margin-right: 3rem;
  margin-bottom: 2rem;

  float: left;
}

#portfolio-pic {
  max-height: 100%;
  border-radius: 2rem;
  margin: 0;
}

#content {
  margin-bottom: 2rem;
}
