@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@400;600&display=swap');

html, body {
  font-size: 62.5%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'STIX Two Text', serif;
}

h1 {
  font-size: 6rem;
  font-family: 'STIX Two Text', serif;
}

h2 {
  font-size: 4rem;
  margin: 0;
}

h3 {
  font-size: 3rem;
  margin: 0;
}

h4 {
  font-size: 2.5rem;
}

p {
  font-size: 1.8rem;
  margin: 0;
  line-height: 130%;
}

a {
  font-size: 2rem;
}

hr {
  width: 80%;
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.6rem;
  }
}
