@import "./../../../colors.scss";

#technologies-lists-container {
  box-sizing: border-box;
  padding: 2rem;
  text-align: center;
}

#tech-heading {
  margin: 2rem;
  margin-bottom: 1rem;
}

#hr-line {
  margin-bottom: 2rem;
}

#tech-text {
  font-size: 2rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 360px) {
  #technologies-lists-container {
    padding: 2rem;
    margin-bottom: 2rem;
  }

}
