@import "./../../../colors.scss";

#links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#link-text {
  color: $MaxBlue;
  margin-bottom: .3em;
  text-decoration: none;

  &:hover {
    transform: scale(1.2)
  }

  &:visited {
    color: $Red;
  }
}

@media only screen and (max-width: 360px) {
  #links-container {
    margin-bottom: 2rem;
  }
}
